 * {
     border: 0;
     padding: 0;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;

 }

 .header {
     display: flex;
     width: 100%;
     justify-content: space-around;
     border-bottom: 1px solid #00000023;
     position: fixed;
     background-color: #FFFFFF;
     top: 0;

 }

 .header1 img {

     width: 110px;
 }

 .header2 {
     margin-top: 40px;
 }

 .header2 ul {
     display: flex;
     list-style-type: none;
     gap: 60px;
     font-size: 20px;
     margin-top: -5px;
 }

 .header2 ul a {
     color: black;


 }

 .header3 {
     border: 1px solid #CA4E95;
     border-radius: 20px;
     background-color: #CA4E95;
     width: 150px;
     height: 33px;
     text-align: center;
     padding-top: 13px;
     margin-top: 25px;
 }

 .header3 a {
     color: white;

 }


 
.dpmain:hover .dplist{
    display: block;
}

.dplist{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px;   
    line-height: 40px; 
}
.dplist a{
    padding-bottom: 50px;
}



 /* white papers */

 .wtbdy {
     margin-top: 106px;
 }

 .wt4 {
     display: flex;
     margin-top: 25px;
 }

 .wt1>img {
     width: 400px;
     height: 340px;
 }

 .wt2>img {
     width: 400px;
     height: 340px;
 }

 .wt3>img {
     width: 400px;
     height: 340px;
 }

 .wt1 {
     border: 1px solid black;
     margin-right: 20px;
     margin-left: 70px;
     border-radius: 10px;
     box-shadow: 5px 5px 5px 5px gray;
 }

 .wt1>p {
     text-align: center;
 }

 .wt2 {
     border: 1px solid black;
     margin-right: 20px;
     border-radius: 10px;
     box-shadow: 5px 5px 5px 5px gray;


 }


 .wt1 p{
    color: #364152;
 }
 .wt2 p{
    color: #364152;

 }
 .wt3 p{
    color: #364152;

 }


 .wt2>p {
     text-align: center;
 }

 .wt3 {
     border: 1px solid black;
     margin-right: 20px;
     border-radius: 10px;
     box-shadow: 5px 5px 5px 5px gray;

 }

 .wt3>p {
     text-align: center;
     border-radius: 10px;

 }

 .wt {
     border-top: 1px solid rgb(128, 29, 29);
     border-bottom: 1px solid rgb(128, 29, 29);
     background-image: linear-gradient(rgba(131, 170, 182, 0.913), rgb(128, 128, 76));
     width: 1300px;
     margin-left: 48px;
 }

 .wt>p {
     width: 900px;
     padding-left: 73px;
 }

 .wt>h1 {
     width: 900px;
     padding-left: 73px;
 }

 .wtbdy {
     margin-left: 60px;
 }

 /* footercss */

 .ft>h1 {
     text-align: center;
     margin-top: 30px;
     padding-top: 10px;
     font-size: 40px;
 }

 .ft {
     width: 1500px;
     background-color: #1D2939;
     color: whitesmoke;
     border-bottom: 1px solid white;
     margin-left: -5px;
     margin-right: -30px;
 }

 .ft>form {
     /* width: 200px; */
     margin-left: 40%;
     position: relative;
 }

 .ft>form>button {
     background-color: #CA4E95;
     border-radius: 50px;
     height: 40px;
     position: absolute;
     right: 570px;
     /* top: 80px; */
     width: 100px;
     z-index: 1;
     /* display: none; */
 }

 .ft>form>input {
     width: 200px;
     height: 40px;
     border-radius: 50px;
     padding-left: 18px;

 }

 .ft1 {
     display: flex;
     justify-content: space-around;
     border-bottom: 1px solid white;
 }

 .ft2>a {
     color: white;
     text-decoration: none;
 }

 .ft2>a {
     display: block;
     line-height: 30px;
 }

 .ft2 {
     margin: 50px;

 }

 .ft3 {
     width: 100px;
     /* padding: 50px; */
     margin-left: 80px;
     margin-top: 20px;
 }

 .ft4 {
     display: flex;
     justify-content: space-around;
     margin-bottom: 50px;
     margin-top: 20px;
 }

 .ft4>div>a {
     color: white;
     text-decoration: none;
 }
 .ft2 label{

    color:#D0D5DD;
    font-size: 18px;
} 


 /* laptop */
 @media screen and (min-width:770px) and (max-width:1025px) {

     /* header */
     .header2 ul li a {
        font-size: 20px;
    }
.dpmain label{
    font-size: 20px;

}

    .dpmain:hover .dplist {
        display: block;
    }

    .dplist {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 20px;
    }

     /* white papers */


     .wt1 p{
        color: #364152;
     }
     .wt2 p{
        color: #364152;

     }
     .wt3 p{
        color: #364152;

     }

     /* footerlaptop */
     .ft {
         margin-left: -15px;
         width: 144%;
         margin-bottom: -10px;
         font-size: 20px;
     }

     .ft>form>button {
         position: absolute;
         left: 230px;
     }

     .ft2 label {
        font-size: 22px;

     }
 }

 /* tab */
 @media screen and (min-width:427px) and (max-width:769px) {

     /* header */
     .header2 ul li a {
        font-size: 29px;
    }
    .dpmain label{
        font-size: 29px;
    
    }
    .dpmain:hover .dplist {
        display: block;
    }

    .dplist {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 20px;
    }


     /* white papers */
     .wt {
         margin-left: 250px;
     }
     .wt h1{
        font-size: 50px;
     }
     .wt p{
        font-size: 25px;
     }

     .wt4 {
         margin-left: 190px;

     }

     /* footertab */

     .ft {
         margin-left: -10px;
         width: 255%;
         margin-bottom: -10px;
         font-size: 22px;
     }

     .ft>form>button {
         position: absolute;
         left: 230px;
         top: 1px;
         font-size: 20px;
     }
     .ft form input{
        font-size: 20px;

     }
     .ft2 label{
        font-size: 25px;
     }
 }

 /* mobile */
 @media screen and (min-width:375px) and (max-width:426px) {
     /* header */
     .header2 ul li a {
        font-size: 22px;
    }
    .dpmain label{
        font-size: 22px;
    
    }
    .dpmain:hover .dplist {
        display: block;
    }

    .dplist {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 20px;
    }

     /* white papers */
     .wt {
         width: 1500px;
         margin-left: -80px;
     }

     .wt>h1 {
         width: 1200px;
         font-size: 90px;
         margin-left: 100px;
     }

     .wt>p {
         width: 1400px;
         font-size: 50px;
     }

     .wt4 {
         /* margin-left: -50px; */
         display: block;
     }

     .wt1 {
         width: 1200px;
         height: 1100px;
     }

     .wt1>img {
         width: 1000px;
         height: 800px;
     }

     .wt1>p {
         font-size: 50px;
     }

     .wt2 {
         width: 1200px;
         height: 1100px;
         margin-top: 40px;
         margin-left: 75px;
     }

     .wt2>img {
         width: 1000px;
         height: 800px;
     }

     .wt2>p {
         font-size: 50px;
     }

     .wt3 {
         width: 1200px;
         height: 1100px;
         margin-top: 40px;
         margin-left: 75px;

     }

     .wt3>img {
         width: 1000px;
         height: 800px;
     }

     .wt3>p {
         font-size: 50px;
     }

     /* footer mobile */
    
     .ft {
        margin-left: px;
        width: 359%;
        /* margin-bottom: 10px; */
        font-size: 45px;
    }

    .ft h1 {
        margin-bottom: 40px;
    }

    .ft>form>button {
        width: 190px;
        height: 90px;
        position: absolute;
        left: 350px;
        top: 4px;
        font-size: 35px;
    }

    .ft form input {
        width: 500px;
        height: 90px;
        margin-left: -200px;
        font-size: 35px;

    }

    .ft1 {
        display: block;
    }

    .ft2 a {
        font-size: 60px;
        line-height: 1.5;

    }
    .ft2 label{
        font-size: 60px;

    }

    .ft3 img {
        width: 180px;
        margin-top: 30px;
    }

    .ft4 {
        display: block;
    }

    .ft4 a {
        font-size: 60px;
        line-height: 1.5;
        margin-left: 30px;

    }
   
 }